*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header
{
    background-image:url(Blue\ Simple\ Keep\ Calm\ Desktop\ Wallpaper.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.middle
{
    height: 80vh;
    width: 100;
    display: flex;
    justify-content: start;
    align-items: center;
}
.middle h1
{
    font-size: 60px;
}